.main {
    background-color: var(--magnolia);
    width: 100%;
    height: 100vh;
    padding-inline: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-card {
    background-color: var(--white);
    width: 60rem;
    height: auto;
    min-height: 35rem;
    border-radius: 1rem;
    padding: 1rem;
    box-shadow: 0 0 10px 2px var(--light-gray);
    display: flex;
    gap: 1rem;

}

.Steps_Container {
    text-align: center;
    grid-row: 2 span;
    width: 15rem;
    padding: 1rem;
    border-radius: .5rem;
    background-image: url('/public/images/bg-sidebar-desktop.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.form-content {
    position: relative;
    padding: 1rem;
    padding-bottom: 5rem;
    width: 65%;
    margin-inline: auto;
    color: #02295a;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 768px) {
    .Steps_Container {
        width: 6rem;
    }

    .form-content {
        width: 95%;
    }
}

@media screen and (max-width: 555px) {
    .main {
        align-items: start;
    }

    .main-card {
        position: relative;
        top: 8rem;
        z-index: 1;
        background-color: transparent;
        box-shadow: none;
        display: block;
        padding: 0;
    }

    .Steps_Container {
        width: 100%;
        height: 15rem;
        position: fixed;
        top: 0;
        left: 0;
        background-image: url('/public/images/bg-sidebar-mobile.svg');
        z-index: -1;

    }

    .form-content {
        background-color: var(--white);
        box-shadow: 0 0 5px 1px #28282870;
        padding: 2rem 1rem 3rem 1rem;
        border-radius: 1rem;
        width: 100%;
        height: auto;
        margin-bottom: 5rem;

    }
}